@fontface {
      font-family: 'brandon_textregular';
      src: url(https://paneersamosa.github.io/webfonts/brandon_text-webfont.woff) format('woff2'),
      font-weight: normal;
      font-style: normal;
}
